<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/event.css' />
    <link rel='stylesheet' href='/resources/stylesheets/event.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
